#logged-in-options, #logged-out-options{
    display: none;
}

#wizardContainer input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
  }
  
#wizardContainer input[type=text], #wizardContainer input[type=password]{
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .underline{
    border-bottom: 1px #4d90fe;
    width: 100%;
    display: block;
    }


